<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="container">
    <img src="logo2.png" alt="logo" height="80px" width="120px" class="logo">


      <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">ログイン</a></li>
        <li><a href="#">新規登録</a></li>
      </ul>
    </div>
  </header>
  <body>
        <div>
          背景文言１（キャッチフレーズ文言）
        </div>
        <div>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </div>

        <div>
          <button>さっそくはじめる</button>
        </div>

       <div>
          
       </div>
  </body>
  <footer>    

  </footer>
</body>
</html>